<h1>Recipes#new</h1>

<%= form_for @recipe do |form| %>


<%= form.label :name %>
<%= form.text_field :name %>

<div>
<%= form.collection_check_boxes(:ingredient_ids, Ingredient.all, :id, :name) %>
</div>

<%= form.submit %>
<% end %>
